.gridcontainers {
  background: linear-gradient(to right, #d9ebe2, #c3ebec);
  position: fixed;
  height: 8vh;
  width: 100%;
}

h5 {
  float: right;
  margin-right: 10vw;
}

h3 {
  position: relative;
  top: 30%;
  text-transform: uppercase;
  color: rgba(20, 17, 17, 0.6);
  z-index: 20;
}
